
body { background: white; color: black; font-family: sans-serif; }
em { color: red; font-style: normal; font-weight: bold; }

pre { width: 100%; overflow: auto; }

ul.only-indent { margin-left: 0; padding: 0; }
ul.only-indent li { list-style-type: none; }
ul.only-indent li ul { margin-left: 1ex; }

table { border-collapse: collapse; margin: 1em 0; }
table caption { font-weight: bold; text-align: left; margin: 1ex 0; }
thead tr { background: grey; color: white; }
thead td { white-space: nowrap; border-bottom: 1px solid black; }
td { padding: 0 1ex; }
tr:nth-child(2n) { background: #f0f0f0; }
